/* Altera a cor das labels */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&display=swap');

body{
    width: 96% !important; 
    height:96% !important;
    font-family: "Poppins", sans-serif !important;
}
label{
    color: #203376 !important; 
    font-family: "Poppins", sans-serif !important;
    font-weight: 500 !important;
}

.fluigicon {
    color: #203376 !important; 
}

.panel-title{
    color: #203376 !important; 
    font-family: "Poppins", sans-serif !important;
}
.panel-title a {
    font-weight: bold !important;
}
.css_titulo_cabecalho{
    top: 3px !important;
    margin-left: 10px !important;
    position: relative !important;
    font-family: "Poppins", sans-serif !important;
    margin-bottom: 12px !important;
    font-size: 22px !important;
    color: #7d1e0a !important; 
    border-bottom: 2px solid #7d1e0a !important;
    font-weight: normal !important;
}

.h1, .h2, .h3, .h4, .h5, 
.h6, h1, h2, h3, h4, h5, h6{
    font-weight: 500 !important;
    color: #203376 !important; 
    font-family: "Poppins", sans-serif !important;
}
.css_cabecalho{
    padding: 30px !important;
}
.css_cabecalho_img {
    padding: 15px !important;
    padding-bottom: 5px !important;
    padding-left: 35px !important;
}
.css_cabecalho_msg {
    text-align: center !important;
}
.css_margin_body{
    margin-left: 30px !important;
    margin-right: 30px !important;
}

.label-hide{
    display: none !important;
}

#div_funcao{
    color: #203376 !important; 
    font-family: "Poppins", sans-serif !important;
}

/* tables */
.table_th{
    font-weight: bold !important;
    color: #203376 !important; 
    font-family: "Poppins", sans-serif !important;
}
.table_td{
    color: #203376 !important; 
    font-family: "Poppins", sans-serif !important;
}

.fluig-style-guide .table>tbody>tr>td, .fluig-style-guide .table>tbody>tr>th, .fluig-style-guide .table>tfoot>tr>td, .fluig-style-guide .table>tfoot>tr>th, .fluig-style-guide .table>thead>tr>td, .fluig-style-guide .table>thead>tr>th {
    border-top: 1px solid #ffffff !important;
}

.card-periodo-experiencia{
    padding-bottom: 112px !important;
}
.card-cursos-obrigatorios{
    padding-bottom: 113px !important;
}



/* SweetAlert2 */
.swal2-popup {
    font-family: "Poppins", sans-serif !important;
}
.swal2-popup.swal2-toast .swal2-html-container {
    font-size: 13px !important;
    font-family: "Poppins", sans-serif !important;
    margin: 0.5em 1em !important;
    padding: 12px 5px 5px 5px !important;
    font-size: 1em !important;
    text-align: left !important;
    font-weight: 500 !important;
}
.swal2-styled.swal2-confirm {
    background: -webkit-gradient(linear, left top, right top, from(#32CD32), to(#228B22)) !important;
    background: linear-gradient(to right, #32CD32, #228B22) !important;
    padding: 12px 40px !important;
    border-radius: 25px !important;
}
.swal2-styled.swal2-deny {
    padding: 12px 40px !important;
    border-radius: 25px !important;
}
.swal2-icon.swal2-warning {
    border-color: #e3b420 !important;
    color: #e3b420 !important;
}
.swal2-icon.swal2-warning [class^=swal2-warning-line] {
    display: block;
    position: absolute;
    top: 2.3125em;
    width: 2.9375em;
    height: 0.3125em;
    border-radius: 0.125em;
    background-color: #e3b420 !important;
}
.swal2-icon.swal2-error {
    border-color: #dc3545 !important;
    color: #dc3545 !important;
}
.swal2-icon.swal2-error [class^=swal2-x-mark-line] {
    display: block;
    position: absolute;
    top: 2.3125em;
    width: 2.9375em;
    height: 0.3125em;
    border-radius: 0.125em;
    background-color: #dc3545 !important;
}
.swal2-icon.swal2-success {
    border-color: #1ab83f !important;
    color: #1ab83f !important;
}
.swal2-icon.swal2-success .swal2-success-ring {
    position: absolute;
    z-index: 2;
    top: -0.25em;
    left: -0.25em;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    border: 0.25em solid #1ab83f !important;
    border-radius: 50%;
}
.swal2-icon.swal2-success [class^=swal2-success-line] {
    display: block;
    position: absolute;
    z-index: 2;
    height: 0.3125em;
    border-radius: 0.125em;
    background-color: #1ab83f !important;
}
.swal2-title {
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0.8em 1em 0;
    color: inherit;
    font-size: 1.5em !important;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
}


/* btn custom */
.btn-default{
    background-color: white !important;
    border: 2px solid #dc3545 !important;
    color: #dc3545 !important;
    transition: background-color 0.3s, color 0.3s !important;
    box-shadow: inset 0 0 0 1px #ffffff !important;
}
.btn-default:hover {
    background-color: #dc3545 !important;
    color: white !important;
}

.btn-primary {
    background-color: white !important;
    border: 2px solid #1ab83f !important;
    color: #1ab83f !important;
    transition: background-color 0.3s, color 0.3s !important;
}
.btn-primary:hover {
    background-color: #1ab83f !important;
    color: white !important;
}
.btn-danger {
    background-color: white !important;
    border: 2px solid #dc3545 !important;
    color: #dc3545 !important;
    transition: background-color 0.3s, color 0.3s !important;
}
.btn-danger:hover {
    background-color: #dc3545 !important;
    color: white !important;
}
.btn-success {
    background-color: white !important;
    border: 2px solid #1ab83f !important;
    color: #1ab83f !important;
    transition: background-color 0.3s, color 0.3s !important;
}
.btn-success:hover {
    background-color: #1ab83f !important;
    color: white !important;
}
.btn-warning {
    background-color: white !important;
    border: 2px solid #e3b420 !important;
    color: #e3b420 !important;
    transition: background-color 0.3s, color 0.3s !important;
}
.btn-warning:hover {
    background-color: #e3b420 !important;
    color: white !important;
}


